html,body{
    margin: 0;
    padding: 0;
    font-family: 'Mouse Memoirs', sans-serif;
    background-color: #BF702A;
}

header{
    margin: 5px;
    padding: 8px;
    background-color: #8C1616 ;
    color: white;
    text-align: center;
    font-size: 28px;
    border-style: groove;
    text-shadow: 4px 4px #1D4859;
}

#content {
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
}

input[type=text]{
    width: 100%;
    padding: 5px;
    margin: 8px;
    box-sizing: border-box
}

table{
    border-collapse:separate;
    border-style: groove;
    width: 100%;
}

th{
    background-color: #BF702A;
    color:black;
}

th,td{
    text-align: left;
    padding: 10px;
    border-style: double;
}

tr:nth-child(odd){
    background-color: #8C3A1C;
    color: white;
}

button{
    border: none;
    text-align: center;
    margin: 8px;
    padding: 8px 10px;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 20px;
    background-color:#1D4859;
    color:white;
    text-shadow: 2px 2px black;
}

.hidden{
    display: none;
}